/* General Styles */
body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6E6E6E;
    color: white;
    padding: 10px 20px;
    border-bottom: 2px solid #D897DE;
}

nav a {
    text-decoration: none;
    color: #D897DE;
    padding-right: 10px;
    font-weight: 600;
}

.detalle-prenda {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
}

.imagenes-prenda {
    flex: 1;
}

.imagenes-prenda img {
    width: 100%;
    max-width: 300px;  /* Ajusta el tamaño máximo de las imágenes para pantallas pequeñas */
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.descripcion-prenda {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.descripcion-prenda h2 {
    margin-bottom: 10px;
    color: gray;
}

.descripcion-prenda p {
    margin: 10px 0;
}

.btn-agregar {
    background-color: #6E6E6E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-agregar:hover {
    background-color: #D897DE;
}

.logo img {
    height: 65px;
    display: flex;
    padding: 0;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    padding-top: 5px;
}

footer {
    position: relative;
    top: 205px;
    font-family: sans-serif;
    background-color: #6E6E6E;
    padding-top: 1px;
    padding-bottom: 1px;
}

footer p {
    color: #D897DE;
    text-align: center;
    font-weight: 600;
}

.footer-links a {
    text-decoration: none;
    text-align: center;
}

.pr1 {
    text-decoration: none;
}
.disponibilidad{
    color: green;
}
/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 1rem;
    }

    .detalle-prenda {
        flex-direction: column;
        align-items: center;
    }

    .imagenes-prenda {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .imagenes-prenda img {
        width: 100%;
        max-width: 250px;  /* Limitar aún más el tamaño de la imagen en pantallas más pequeñas */
        margin-bottom: 10px;
    }

    .descripcion-prenda {
        padding: 15px;
        width: 100%;
    }

    .btn-agregar {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    .logo img {
        height: 50px;
    }

    .descripcion-prenda h2 {
        font-size: 1.5rem;
    }

    .descripcion-prenda p {
        font-size: 0.9rem;
    }

    .btn-agregar {
        font-size: 1rem;
        padding: 12px;
    }

    footer p {
        font-size: 0.9rem;
    }
    footer{
        position: absolute;
        bottom: 0;
        height: 99%;
    }
}
